<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg" , width: 300, alt: "profile image", class: "profile-img" %>

        <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
              <h4><%= skill.title %></h4>
              <div class="progress">
                <div class="progress-bar progress-bar-stripped bg-warning" role="progressbar" aria-valuenow="<%= skill.percent_utilized %>" aria-valuemax="100" style="width: <%= skill.percent_utilized %>%">
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-8">
        <p>Software development should not be a secret process, when I take on a new project I make it my goal to not only deliver a well crafted product but to also ensure that each stage of the process is fully comunicated</p>

        <p>Software development should not be a secret process, when I take on a new project I make it my goal to not only deliver a well crafted product but to also ensure that each stage of the process is fully comunicated</p>

        <p>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#jobHistory" aria-expanded="false" aria-controls="jobHistory">
            Job History
          </button>
        </p>

        <p>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#education" aria-expanded="false" aria-controls="education">
            Education
          </button>
        </p>

        <div class="collapse" id="jobHistory">
          <div class="card card-block">
            Job1
          </div>
          <div class="card card-block">
            Job2
          </div>
        </div>

        <div class="collapse" id="education">
          <div class="card card-block">
            School1
          </div>
          <div class="card card-block">
            School2
          </div>
          <div class="card card-block">
            School3
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
