<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "profile.jpg" , width: 300, alt: "profile image" %>
  </div>
  <div class="col-md-8">
    <p>Software development should not be a secret process, when I take on a new project I make it my goal to not only deliver a well crafted product but to also ensure that each stage of the process is fully comunicated</p>
  </div>
</div>
