<h1>Pages#contact</h1>

<p><%= number_to_phone "066-265-35-35" %></p>

<p><%= number_to_currency "500" %></p>

<p><%= number_to_percentage "500" %></p>

<p><%= number_with_delimiter "1242342353463633232500" %></p>
