.app-card-container {
  color: black;
  text-align: left;
}

.app-card-container > .card {
  padding: 30px;
}

.profile-img {
  border: 1px solid grey;
}

h1 {
  padding: 15px;
}

.card-block {
  margin-top: 5px;
  margin-bottom: 5px;
}
